* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: default;
}


body {
    padding-top: 6rem;
    background: radial-gradient(#111, #000);

}

ul {
    list-style: none;
}

nav {
    display: flex;
    width: 100vw;
    height: 4rem;
    position: fixed;
    z-index: 1000;
    margin-top: -6rem;
    font-size: 1.3rem;
    font-weight: bolder;
    background: linear-gradient(#000, #555, #111);
}


.pc-menu>ul {
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    width: 100vw;

}

.pc-menu>ul>li {
    text-align: center;
    flex-basis: 25vw;
    flex-wrap: wrap;
    display: inline-flex;
    margin-left: 4.5rem;
    padding: 1rem;
    padding-top: .3rem;
    color: #eee;
}




.nav-item {
    text-decoration: none;
    color: #ddd;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    cursor: pointer;
}


#recomendacion {
    width: 13rem;
    height: 1rem;
    border: none;
}



.nav-item:hover {
    color: #f28;
    cursor: pointer;
}


nav>ul>img {
    margin-right: -3rem;
}


.titulo,
.titulo>span {
    width: 100%;
    font-size: 2rem;
    font-family: 'Mochiy Pop One', sans-serif;
    text-decoration: none;
    color: #e17;

}


.titulo {
    animation: tituloAnimation 7s infinite;
    border-bottom: #7af solid .3rem;
}


.titulo>span {
    color: #7af;
    animation: spanAnimation 7s infinite;
    border-bottom: #e17 solid .3rem;
}


a.titulo:hover {
    cursor: pointer;
}

@keyframes tituloAnimation {
    0% {
        color: #e17;
        border-bottom: #7af solid .3rem;
    }

    40% {
        color: #7af;
        border-bottom: #e17 solid .3rem;
    }

    45% {
        color: #BE4FAE;
        border-bottom: #BE4FAE solid .3rem;
    }

    55% {
        color: #CD3B9C;
        border-bottom: #CD3B9C solid .3rem;
    }

    100% {
        color: #e17;
        border-bottom: #7af solid .3rem;
    }
}

@keyframes spanAnimation {
    0% {
        color: #7af;
        border-bottom: #e17 solid .3rem;
    }

    40% {
        color: #e17;
        border-bottom: #7af solid .3rem;
    }

    45% {
        color: #BE4FAE;
        border-bottom: #BE4FAE solid .3rem;
    }

    55% {
        color: #CD3B9C;
        border-bottom: #CD3B9C solid .3rem;
    }

    100% {
        color: #7af;
        border-bottom: #e17 solid .3rem;
    }
}


.anuncio {
    width: 100%;
    background-color: rgb(54, 117, 225);
    font-weight: bolder;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    position: fixed;
    margin-top: -2rem;
    z-index: 100;
}

/*recomendados menú*/
.rec-menu {
    background-color: #f25;
    border-bottom: .2rem solid #fff;
    border-radius: 5%;
    width: 30%;
    height: 100%;
    padding: 2rem;
    padding-top: 0;
    display: none;
    position: absolute;
    z-index: 2000;
    top: -5rem;
    left: 42%;
    text-align: center;

}

/*Agregar íconos, hacer la interfaz de celulares/tablet*/
#recomendacion:focus .rec-menu {
    display: block;
    top: 4rem;

}




.rec-menu li {
    list-style: none;

}



.rec-item {
    display: block;
    color: #fff;
    font-size: .9rem;
    font-weight: bolder;
    position: relative;
    margin-top: 5%;
    text-decoration: none;
}

.uno {
    border-bottom: .1rem solid #fff;

}

.rec-item:hover {
    cursor: pointer;
    color: #8bf;
}

.fa-sort-up{
   visibility: hidden;
}
/*Fin recomendados menú*/
.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    outline: 3px solid #f28;
    position: absolute;
    top: .5rem;
    left: 1.3rem;
    user-select: none;

}


/*  MENU RESPONSIVE*/
.resp-menu {
    display: none;
}
.fa-bars {
    display: none;
    visibility:hidden;
}

.tituloresp {
    background-color: #000;
    float: inline-end;
}

/*FIN RESPONSIVE*/



.backgrounds {
    height: 130vh;
    width: 100%;
    margin-bottom: .2rem;
}

.fondo1 {
    background: url("media/fondos/fondoa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3rem;
}

.fondo2 {
    background: url("media/fondos/fondob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo3 {
    background: url("media/fondos/fondoc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo4 {
    background: url("media/fondos/fondod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.art-container {
    align-items: center;
    height: 30rem;
    position: relative;
    margin-top: 4rem;
    padding-top: 2rem;

}

.first-article {
    background: linear-gradient(#44a, rgb(135, 33, 135));
    border-radius: 5%;
    padding: 1rem;
    width: 80%;
    height: 37rem;
    position: relative;
    left: 7.5%;

}

.h2-fp {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 1rem;
    padding-bottom: 0;
    position: relative;

}

h2>span {
    font-style: italic;

}

.p-fp {
    letter-spacing: .1rem;
    padding-top: .2rem;
    padding-bottom: 0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bolder;
}

.scnd-section {
    height: 82%;
    width: 100%;
    position: relative;
}

.fig {
    position: relative;
    width: 100%;
    height: 100%;

}



figcaption {

    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    top: 100%;

}

#upBtn {
    clip-path: circle(40%);
    position: fixed;
    bottom: 1rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 100%;
    padding: 2rem 2rem 4rem;
    font-size: 4rem;
    font-weight: bolder;
    background-color: #f28;
    color: #fff;
    text-decoration: none;
    border: #fff solid .1rem;
}

#upBtn:hover {
    background-color: #f2a;
    color: #7af;
}

.anim-contain {
    position: relative;
    width: 100vw;
}

.one {
    margin-left: 30vw;
}

.toAnimate {
    display: inline-block;
    position: relative;
    margin-left: 2%;
    height: 1.5vw;
    width: 1.5vw;
    animation: toAnimate 3s infinite;
}

@keyframes toAnimate {
    0% {
        left: 0;
        border-radius: 0%;
        background-color: #fff;
    }

    10% {

        background-color: #ff0;
    }

    20% {

        background-color: #fa0;
    }

    25% {
        transform: rotate(45deg);
    }

    30% {

        background-color: #f50;
    }

    40% {

        background-color: #f00;
    }

    50% {
        left: 30vw;
        border-radius: 100%;
    }

    60% {

        background-color: #0fa;
    }

    70% {

        background-color: #0af;
    }

    80% {

        background-color: #05f;
    }

    90% {

        background-color: #00f;
    }

    95% {
        background-color: #000;
    }

    100% {
        border-radius: 0%;
        left: 0;
        background-color: #888;
    }


}




/*SLIDER*/


.container {
    background-color: #fff;
    width: 65%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 1rem;
    min-width: 10rem;
    top: 50%;
    padding: 1rem;
    box-shadow: 0 1rem 2rem;
}

.img-container {
    position: relative;
    width: 100%;
    height: 50%;
    border: 1px solid #000;
    overflow: hidden;

}

.img {
    position: relative;
    width: 100%;
    display: none;
    cursor: pointer;
}


.text {
    height: 10%;
    width: 100%;
    background-color: rgba(114, 83, 45, 0.3);
    color: #fff;
    font-family: sans-serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    opacity: 1;
    display: none;


}


.active {
    display: block;

}

.dot-container {
    width: 10rem;
    margin: 1rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;

}

button {
    cursor: pointer;
    outline: none;
}

.dot-container button {
    height: .7rem;
    width: .7rem;
    border-radius: 50%;
    border: .15rem solid #888;
}

.dot-container button:nth-child(1) {
    background-color: #f28;
}

.arrow {
    height: 2.5rem;
    width: 4rem;
    min-width: 2rem;
    min-height: 1.25rem;
    position: absolute;
    z-index: 2;
    background-color: #f28;
    color: #fff;
    border: none;
    border-radius: .3rem;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: bolder;

}

#prev {
    left: -1rem;
}

#next {
    right: -1rem;
}

.arrow:hover {
    background-color: #f39;
}

/*Fin Slider*/

footer {
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

#ig {
    text-decoration: none;
}

.fa {
    margin: .2rem;
    margin-top: 0;
    font-size: 1.6rem;
    color: #aaa;
}

.fa:hover {
    color: #fff;
}

a:visited {
    color: #ddd;

}



@media(max-width:852px) {

    nav {
        overflow: hidden;
    }

    nav ul {
        background-color: #000;
        width: 100%;
        text-align: start;
    }

    .momento {
        background: none;
        width: auto;
    }

    .titulo {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .fa-bars {
        display: block;
        visibility: visible;
        float: right;
        margin-right: .5rem;
        margin-top: 2%;
        font-size: 2rem;
        color: #fff;
    }

    .fa-bars:active {
        transition: all .3s;
        transform: rotate(-90deg);
    }

    .rec-menu{
        margin-top: 5.8rem;
        width: 100%;
        left: -1rem;
        border-radius: 0;
    }

    
    .fa-sort-up{
        color: #fff;
        visibility:visible;
        position: relative;
        left: 14rem;
        top: -1.2rem;
    }
    .nav-item:hover   .fa-sort-up {
        color: #f28;
        cursor: pointer;
    }

    #recomendacion:focus .fa-sort-up{
        transform: rotate(180deg);
        color: #f28;
        left: 14rem;
        top: -2rem;
    }

    .container {
        top: 25%;
        margin-bottom: 0;
    }

    figcaption {
        top: 18rem;
    }

    .text {
        bottom: 7%;
        font-size: 1rem;
    }
}
